@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slot {
    animation: slot-slide 0.3s ease-out;
  }
}

@keyframes slot-slide {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 